.home_page
  .home_page_left
    .intro_text
      %h1
        Sheffield Young Carers is an independent charity that has existed in
        Sheffield since 1997.  We are dedicated to supporting young carers across
        the city.  
      %p
        We believe it is a right of every young carer to be recognised in
        their role and to have the same opportunities and life chances as other
        children and young people of a similar age. 
        %br 
        =# link_to 'More about us &rarr;', Page.about_us, :class => 'read_more'
    .are_you  
      %h2.title
        Are you...
      %ul
        %li
          = link_to 'Looking after someone at home?', Section.find_by_id(9), :id=>'a_y_1'
        %li
          = link_to 'Related to a young carer?', Section.find_by_id(8), :id=>'a_y_2'
        %li
          = link_to ' A parent or family member?', Page.find_by_id(37), :id=>'a_y_6'  
        %li
          = link_to 'A professional?', Section.find_by_id(4), :id=>'a_y_3'
        %li
          = link_to ' Support us', Page.find_by_id(113), :id=>'a_y_4'
        %li
          = link_to ' Interested in working with us?', Section.find_by_id(6), :id=>'a_y_5'
  
  .home_page_right
    %h2.title
      Latest News
    %ul
      -@news.each do |page|
        %li
          .item_image
            =link_to photo_for(page, "145x90#"), page
          .item_info
            %h3
              =link_to page.title, page
            %p
              =strip_tags page.summary(140)
    #twitter
      =link_to "Latest Tweet", 'http://twitter.com/sheffyoungc', :id => "latest_tweet", :target =>"_blank"
      %span.tweet
        =highlight_tweet_links(get_latest_tweet_from("SheffYoungC"))
      =link_to "View our twitter page", 'http://twitter.com/sheffyoungc', :id => "view_twitter", :target =>"_blank"
      =if false
        %a{ :href => "http://facebook.com", :target=>'_blank', :id=>'facebook_link'}
          Join us on Facebook
      
      