#sketch
  %a#footer_top_link{ :href=>"#"}
    \&uarr; Top of page
#footer
  #footer_links
    %p#copyright
      %strong
        \&copy; 2010 Sheffield Young Carers | Tel: 0114 258 4595
    %ul
      %li#site_feedback
        %a{ :href => "#" }
          Site Feedback
      - if @is_sys_admin
        %li
          %a{ :href => "/admin" }
            %strong
              admin
      %li
        %a{ :href => "legal" }
          legal
      %li
        %a{ :href => "/website-credits" }
          Website credits
      - if !logged_in? && !current_page?(new_session_path)    
        %li
          %a{ :href => "#login_popup", :id=>'login_link' }
            Log in
    .funders    
      %a#nhs{ :href => "http://www.sheffield.nhs.uk/", :target=>"_blank" }
        NHS Sheffield   
      %a#sheffield_council{ :href => "http://www.sheffield.gov.uk/index.asp?pgid=1912", :target=>"_blank" }
        Sheffield city council         
    %a#siteby{ :href => "http://www.yoomee.com" }
      site by
  %div{:style=>"display:none"}
    #login_popup
      %h2
        Member Log in
      - form_tag session_url do
        #login_form
          %p.login_email
            %label{ :for => "login_email" }
              Email/Username:
            = text_field_tag 'login_email_or_username', @login_email_or_username
            = star
          %p.password
            %label{ :for => "login_password" }
              Password:
            = password_field_tag 'login_password'
            = star
          = submit_tag 'Log in', :id => 'login_bttn'