- title (@member ? "#{@member}'s Links" : "All Links")
- if @links.empty?
  %p
    -if @member
      ="#{@member.forename} has not added any links yet."
    -else
      There are no links yet.
-else
  .media_list
    -@links.each do |link|
      =render :partial => "link", :locals => {:link => link}
    %br.clear
- options_panel do
  = link_if_allowed @member, @member if @member
  - if @member==@logged_in_member
    = link_if_allowed "New link", new_link_proc
  - else
    = link_if_allowed "Add your own link", new_link_proc
