!!! Strict
%html{ "xml:lang" => "en", :lang => "en", :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %title
      = site_name
      \:
      = site_slogan
      \//
      = page_title
      = page_subtitle
    %meta{ :name => "Generator", :content => "Yoomee (Ruby on Rails)" }
    %meta{ :name => "robots", :content => "index, follow" }
    %meta{ :content => "text/html; charset=utf-8", "http-equiv" => "Content-Type" }
    %meta{ :name => "info", :content => "#{page_title}#{page_subtitle}" }
    %link{ :href => "/images/favicon.ico", :rel => "shortcut icon" }
    = google_javascripts :jquery, :jqueryui
    = javascript_include_tag 'jquery.autocomplete-1.4.2.js'
    = javascript_include_tag 'jrails'
    = javascript_include_tag 'tramlines'
    = stylesheet_link_tag 'reset'
    = stylesheet_link_tag 'generic'
    = stylesheet_link_tag 'client/styles'
    = yield :head
  - body_tag do
    -#<body id='= is_home? ? 'home' : 'inside''>
    #wrapper
      =render :partial => 'layouts/header'
      #main.content
        = render_flash
        %h1=@page_title
        =@content_for_layout
        %br.clear
      =render :partial => 'layouts/footer'